@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link {
    margin: 5px;
    padding: 2px;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
}

.link:hover {
    transition: all 0.3s;
    color: black;
}